<div id="mailchimp_subscribe_wrap">
   <%= form_for :user, :url => :subscriptions  , remote: true do |f| %>
    <table>
      <tr>
        <td>
          <%= text_field_tag :email, t('enter_your_email'), class:  'email', id:   'subscribe_email' %>
        </td>
      </tr>
      <tr>
        <td>
          <%= submit_tag t('subscribe'), id:  'op_subscribe' %>
        </td>
	<td>
	   <%=  image_tag "ajax-loader.gif", :id => 'busy_indicator'  %>
	</td>
      </tr>
    </table>
  <% end -%>
</div>
<script type='text/javascript' src='/assets/store/jquery.simplemodal.js'></script>

